
div {
    height: 60vh;
}

textarea {

    text-align: center;
    font-size: 3em;
    padding: .4em .25em;
    cursor: pointer;
    color: black;
    background-color: rgb(228, 228, 228);
    border: 2px solid black;
    border-radius: 5px;
    resize: none;

    width: 40%;
    height: 100%;

}

div.form {

    text-align: center;
    font-size: 3em;
    padding: .4em .25em;
    cursor: pointer;
    color: black;
    background-color: rgb(228, 228, 228);
    border: 2px solid black;
    border-radius: 5px;
    resize: none;

    width: 50vw;
    height: 100%;

}