
#last, #next, #pageNum {

    background-color: rgb(0, 153, 255);
    
    color: black;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    
    border: 2px solid black;
    border-radius: 8px;

}

#last, #next {
    aspect-ratio: 1 / 1;
    padding: 5px 5px;
    font-size: xx-large;
}

#pageNum {
    font-size: large;
}

#content {
    
    padding: .4em 0.25em;
    
    width: 80vw;
    margin-bottom: 3%;

    border: 2px solid black;
    
    border-radius: 5px;
    display: block;

    color: white;
    background-color: rgb(0, 153, 255);

    align-items: center;

}

#text {
    float: right;
    max-width: 70%;

    font-size: xx-large;
}

#image {
    float: left;
    max-width: 30%;

    min-height: 70%;
    max-height: 50vh;

}