input[type="text"].form {
    text-align: center;
    font-size: 3em;
    padding: .4em 0.25em;
    background-color: rgb(228, 228, 228);
    width: 75vw;
    height: 60px;
    border: 2px solid black;
}