
.download {
    font-size: xx-large;
}

input[type="text"], select {
    
    font-size: 30px;

    width: 75vw;
    height: 60px;

    margin-bottom: 2vh;
    
}

input[type="text"], input[type="submit"], select, .download {

    text-align: center;
    text-align-last: center;
    
    background-color: white;
    
    border: 2px solid black;
    border-radius: 15px;

    color: black;

    padding: .4em 0.25em;
    
}

label {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

select {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

input[type="submit"] {
    margin-top: 3vh;
    font-size: x-large;
    width: 10vw;
    margin-bottom: 3%;
}

label {
    font-size: 45px;
    line-height: 70px;
}

body{
    margin: 0;
    padding: 0;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

/* Creating the dots */
span{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    animation: loading 1s linear infinite;
}
 
/* Creating the loading animation*/
@keyframes loading {
    
    0%{
        transform: translateX(0);
    }
    
    25%{
        transform: translateX(15px);
    }
    
    50%{
        transform: translateX(-15px);
    }

    100%{
        transform: translateX(0);
    }

}

span:nth-child(1){
    animation-delay: 0.1s;
}
span:nth-child(2){
    animation-delay: 0.2s;
}
span:nth-child(3){
    animation-delay: 0.3s;
}
span:nth-child(4){
    animation-delay: 0.4s;
}
span:nth-child(5){
    animation-delay: 0.5s;
}