<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".ini" mimeType="text/plain" />
            <mimeMap fileExtension=".iso" mimeType="application/octet-stream" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="AddTrailingSlashRule1" stopProcessing="true">
                    <match url="(.*[^/])$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}/" />
                </rule>
                <rule name="Redirect JPG to HTML" stopProcessing="true">
                    <match url="^(.+)\.jpg$" />
                    <action type="Rewrite" url="/_/Media/?file=/{R:0}" appendQueryString="false" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="raw=true" negate="true" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
