<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".ini" mimeType="text/plain" />
            <mimeMap fileExtension=".iso" mimeType="application/octet-stream" />
        </staticContent>
        <rewrite>
            <rules>
                        <rule name="Open 'jpg' in Media Viewer" stopProcessing="true">
                            <match url="^(.+)\.jpg$" />
                            <action type="Rewrite" url="/_/Media/" appendQueryString="false" />
                            <conditions>
                                <add input="{QUERY_STRING}" pattern="raw=true" negate="true" />
                            </conditions>
                        </rule>
            
                        <rule name="Open 'jpeg' in Media Viewer" stopProcessing="true">
                            <match url="^(.+)\.jpeg$" />
                            <action type="Rewrite" url="/_/Media/" appendQueryString="false" />
                            <conditions>
                                <add input="{QUERY_STRING}" pattern="raw=true" negate="true" />
                            </conditions>
                        </rule>
            
                        <rule name="Open 'png' in Media Viewer" stopProcessing="true">
                            <match url="^(.+)\.png$" />
                            <action type="Rewrite" url="/_/Media/" appendQueryString="false" />
                            <conditions>
                                <add input="{QUERY_STRING}" pattern="raw=true" negate="true" />
                            </conditions>
                        </rule>
            
                        <rule name="Open 'gif' in Media Viewer" stopProcessing="true">
                            <match url="^(.+)\.gif$" />
                            <action type="Rewrite" url="/_/Media/" appendQueryString="false" />
                            <conditions>
                                <add input="{QUERY_STRING}" pattern="raw=true" negate="true" />
                            </conditions>
                        </rule>
            
                        <rule name="Open 'webp' in Media Viewer" stopProcessing="true">
                            <match url="^(.+)\.webp$" />
                            <action type="Rewrite" url="/_/Media/" appendQueryString="false" />
                            <conditions>
                                <add input="{QUERY_STRING}" pattern="raw=true" negate="true" />
                            </conditions>
                        </rule>
            
                        <rule name="Open 'mp4' in Media Viewer" stopProcessing="true">
                            <match url="^(.+)\.mp4$" />
                            <action type="Rewrite" url="/_/Media/" appendQueryString="false" />
                            <conditions>
                                <add input="{QUERY_STRING}" pattern="raw=true" negate="true" />
                            </conditions>
                        </rule>
            
                        <rule name="Open 'svg' in Media Viewer" stopProcessing="true">
                            <match url="^(.+)\.svg$" />
                            <action type="Rewrite" url="/_/Media/" appendQueryString="false" />
                            <conditions>
                                <add input="{QUERY_STRING}" pattern="raw=true" negate="true" />
                            </conditions>
                        </rule>
            
                        <rule name="Open 'avif' in Media Viewer" stopProcessing="true">
                            <match url="^(.+)\.avif$" />
                            <action type="Rewrite" url="/_/Media/" appendQueryString="false" />
                            <conditions>
                                <add input="{QUERY_STRING}" pattern="raw=true" negate="true" />
                            </conditions>
                        </rule>
            
                        <rule name="Open 'mp3' in Media Viewer" stopProcessing="true">
                            <match url="^(.+)\.mp3$" />
                            <action type="Rewrite" url="/_/Media/" appendQueryString="false" />
                            <conditions>
                                <add input="{QUERY_STRING}" pattern="raw=true" negate="true" />
                            </conditions>
                        </rule>
            
                        <rule name="Open 'ico' in Media Viewer" stopProcessing="true">
                            <match url="^(.+)\.ico$" />
                            <action type="Rewrite" url="/_/Media/" appendQueryString="false" />
                            <conditions>
                                <add input="{QUERY_STRING}" pattern="raw=true" negate="true" />
                            </conditions>
                        </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
